.chat-room {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(51, 109, 15);
  border-radius: 10px;
}
.message-box {
  color: black;
  // min-height: 50vh;
  height: 70vh;
  overflow-y: scroll;
  padding: 20px;
}
.message-input {
  color: #000;
  background-color: #fff;
  width: 98%;
  min-height: 60px;
  resize: none;
  border: 1px solid rgb(51, 109, 15);
  border-radius: 10px;
  padding: 6px;
  outline: none;
}

.message-form {
  display: flex;
  padding: 10px;
}
.submit-button {
  margin-left: 10px;
  width: 60px;
  background-color: cadetblue;
  border: 1px solid rgb(51, 109, 15);
  border-radius: 4px;
}

.message-box::-webkit-scrollbar {
  //   display: none;
  // width: 6px;
  width: 3px;
  background-color: #3a9551;
  color: red;
  border-radius: 5px;
}

.chat-message {
  display: flex;
}
.chat-message-not-me {
  justify-content: flex-start;
}

.chat-message-is-me {
  justify-content: flex-end;
  text-align: right;
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.message-sender {
  display: block;
}

.message-manage-button-group {
  button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
.message-title {
  display: flex;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .message-idx {
    padding-top: 2px;
    // border-radius: 10px;
    // border: 1px solid #CCC;
    // width: 18px;
    // min-width: 50px;
    height: 18px;
    text-align: center;
    justify-content: center;
  }
}

.end-div {
  float: left;
  clear: both;
}
